<div class="container">
    <a
        class="btn-floating btn-large waves-effect waves-light z-depth-3"
        style="position: fixed; bottom: 25px; right: 25px; font-size: 40px"
        routerLink="/pokemon/add"
    >
        +
    </a>
    <ul class="row">
        <li class="col m4 s6" *ngFor="let pokemon of pokemonList">
            <div
                class="card horizontal"
                pkmnBorderCard="#BB0000"
                (click)="goToPokemon(pokemon)"
            >
                <div class="card-image">
                    <img [src]="pokemon.picture" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name }}</p>
                        <p>
                            <small>
                                {{ pokemon.created | date: "dd/MM/yyyy" }}
                            </small>
                        </p>
                        <p>
                            <span
                                class="center {{ type | pokemonTypeColor }}"
                                *ngFor="let type of pokemon.types"
                            >
                                {{ type }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
